@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #DCB0FF;
    color: #61757e;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #525f64;
}

#logo {
    float: left;
    font-size: 160%;
}

#menu {
    letter-spacing: 3px;
    font-size: 110%;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.border-style {
    border: solid 1px white;
    transition: border-width 0.3s linear;
    padding: 3px;
}

.border-style:hover {
    border-width: 3px;
}
