@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    color: #3F4756;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3F4756;
}

/* logo and nav elements */

#logo {
    float: left;
    font-size: 160%;
}

#menu {
    letter-spacing: 3px;
    font-size: 110%;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.border-style {
    border: solid 1px #3F4756;
    transition: border-width 0.3s linear;
    padding: 3px;
}

.border-style:hover {
    border-width: 3px;
}

/* hero image and intro text */

#hero-out{
    height: 550px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#intro-text, #intro-text h2 {
    color: white;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url('../images/hero-image.PNG') no-repeat;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#intro-text {
    width: 650px;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 40px;
    background-color: rgba(11, 99, 183, 0.2);
    bottom: 150px;
    right: 300px;
    position: absolute;
}

/* four main setions yoga, meditation, self care and exercise + images */

#yoga, #meditation, #selfcare, #exercise {
    height: 400px;
    margin-bottom: 70px;
}

#list-left {
    padding-top: 20px;
    width: 49%;
    float: left;
}

#pic-right {
    padding-top: 20px;
    width: 49%;
    float: right;   
}

ul li {
    margin-left: 20px;
}

#yoga-image {
    height: 400px;
    width: 100%;
    background: url('../images/yoga.PNG') center center;
    }

#meditation-image {
    height: 400px;
    background: url('../images/meditation.PNG') center center;
    }

#selfcare-image {
    height: 400px;
    background: url('../images/selfcare.PNG') center center;
}

#exercise-image {
    height: 400px;
    background: url('../images/exercise.PNG') center center;
}

/* links below main content */

#bottom-feedback a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
    float: left;
    font-size: 160%;
    color: inherit;
}

#bottom-gallery a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    margin-right: 20px;
    float: right;
    font-size: 160%;
    color: inherit;
}

/* footer */

footer {
    height: 200px;
}

.social-links {
    list-style-type: none;
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    color: #3F4756;
    font-size: 300%;
    padding: 4%;
    margin: 1%;
}

/* form page elements */

#fb-form {
    clear:both;
}

.block-form {
    display: block;
}